<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>343726077774-8m8a8bi0s06dfph1iv3bqk0gbb638t5q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343726077774-8m8a8bi0s06dfph1iv3bqk0gbb638t5q</string>
	<key>API_KEY</key>
	<string>AIzaSyBUHP1TdlWjRqkQjdM9Xj3ltcxhhW8OqZo</string>
	<key>GCM_SENDER_ID</key>
	<string>343726077774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectAranton</string>
	<key>PROJECT_ID</key>
	<string>aranton-d1l-project</string>
	<key>STORAGE_BUCKET</key>
	<string>aranton-d1l-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343726077774:ios:cc2fd25855532706db901f</string>
</dict>
</plist>